[Unit]
Requires=soniclogin-sonic-win.service
BindsTo=soniclogin-sonic-win.service
Requires=soniclogin.service
BindsTo=soniclogin.service

Wants=soniclogin-wallpaper.service
Wants=soniclogin-apply-kscreen.service
